body{
    font-family: Arial, sans-serif;
    text-align:center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    margin:0;
}


nav{
    background:#222;
    padding:15px;
    position: sticky;
    top:0;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-size:18px;
    transition: 0.3s;
}

nav a:hover{
    color:yellow;
}

h1{
    margin-top:30px;
    font-size:32px;
}


div{
    background:white;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    width:80%;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}


ul{
    list-style:none;
    padding:0;
}

ul li{
    display:inline-block;
    background:#333;
    color:white;
    padding:8px 12px;
    margin:5px;
    border-radius:8px;
}


#projects p{
    background:#f4f4f4;
    padding:10px;
    border-radius:8px;
    transition:0.3s;
}

#projects p:hover{
    background:#ddd;
    transform:scale(1.05);
}


a{
    color:blue;
}

a:hover{
    text-decoration:underline;
